@media screen and (max-width:1340px){
  section#market_inner{
    width:100%;
  }
  section#product{
    width:894px; margin:0px auto;
  }
  div#market_left_btn{
    margin-left:-527px;
  }
  div#market_right_btn{
    margin-right:-527px;
  }
  div#market_left_btn:hover{
    margin-left:-542px;
  }
  div#market_right_btn:hover{
    margin-right:-542px;
  }
}

/* 해상도 981px~1200px */
@media screen and (max-width:1200px){
  /* 메인페이지 미디어쿼리 */
  /* common */
  section#guide_inner,section#recipe_inner,section#community_inner{
    width:96%
  }
  /* recipe */
  section#recipe{
    font-size:0.875em;
  }
  /* community */
  div#community_wrap{
    height:auto; padding-bottom:100px; margin-bottom:0px;
  }
  p#couple_img{
    width:100%; margin-bottom:1.5%;
  }
  p#man_img{
    width:49.25%; margin-right:1.5%; margin-bottom:1.5%;
  }
  p#woman_img{
    width:49.25%; margin-right:0px;
  }
  section#text_img{
    width:100%;
  }

  /* 브랜드페이지 미디어쿼리 */
  /* common */
  nav.brand_menu,div#story_wrap,section#brandlogo,ul#color_list{
    width:96%;
  }
  /* visual */
  div#brand_vis_wrap{
    padding-bottom:17.708%; height:auto; background-size:cover;
  }
  /* contents */
  div#space_wrap,div#exper_wrap,div#blend_wrap,div#reserv_wrap{
    margin-top:0px; background:none; height:auto;
  }
  section#space_inner,section#exper_inner,section#blend_inner,section#reserv_inner{
    width:100%; margin-top:0px; float:left;
  }
  p.space_img,p.exper_img,p.blend_img,p.reserv_img{
    margin-left:10%; width:80%; padding-bottom:42%; height:auto; background-size:contain;
  }
  p.img_fr,p.img_fl{
    float:none;
  }
  section.story_text{
    float:none; margin:0px auto; width:70%; height:auto; margin-bottom:60px; text-align:center;
  }
  p.story_botton{
    margin:0px auto;
  }
  /* color */
  ul#color_list li{
    width:33.33%; margin-right:0px;
  }
}
/* 해상도 769px~980px */
@media screen and (max-width:980px){
  /* 메인페이지 미디어쿼리 */
  /* visual */
  div#visual_wrap{
    font-size:0.875rem;
  }
  div#visualtext{
    height:200px; background-position-x:330px; background-size:15%;
  }
  /* guide */
  div#guide_vid_wrap{
    width:100%; margin-right:0px; margin-bottom:0.33%;
  }
  section#guide_box{
    width:49.83%; margin-right:0.34%; margin-bottom:0px; background-size:cover;
  }
  section#reserve_box{
    width:49.83%; background-size:cover;
  }
  /* market */

  div#market_wrap{
    padding-bottom:20px;
  }
  section#market_inner{
    width:90%; margin-left:5%;
  }
  section#product{
    width:588px;
  }
  div#market_left_btn{
    margin-left:-374px;
  }
  div#market_right_btn{
    margin-right:-374px;
  }
  div#market_left_btn:hover{
    margin-left:-379px;
  }
  div#market_right_btn:hover{
    margin-right:-379px;
  }
  /* recipe */
  section#recipe_inner{
    height:555px;
  }
  ul#recipe_list{
    height:400px;
  }

  /* 브랜드페이지 미디어쿼리 */
  /* color */
  ul#color_list li{
    width:50%;
  }
}
/* 해상도 481px~768px */
@media screen and (max-width:768px){
  /* 메인페이지 미디어쿼리 */
  /* common */
  .page_title{
    font-size:2.0rem;
  }
  /* visual */
  div#visual_wrap{
    font-size:0.75rem;
  }
  div#visualtext{
    height:200px; background-position-x:355px; background-size:12%;
  }
  /* market */
  section#product{
    width:282px;
  }
  div#market_left_btn{
    margin-left:-221px;
  }
  div#market_right_btn{
    margin-right:-221px;
  }
  div#market_left_btn:hover{
    margin-left:-226px;
  }
  div#market_right_btn:hover{
    margin-right:-226px;
  }
  /* recipe */
  section#recipe{
    font-size:0.75rem;
  }
  section#recipe_inner{
    height:450px;
  }
  ul#recipe_list{
    height:300px;
  }

  /* 브랜드페이지 미디어쿼리 */
}
@media screen and (max-width:600px){
  /* 메인페이지 미디어쿼리 */
  /* market */

  /* 브랜드페이지 미디어쿼리 */
  /* logo */
  section#brandlogo_wrap{
    width:80%; margin-left:10%;
  }
  section#brandlogo p{
    width:100%; margin-bottom:40px;
  }
  /* color */
  section#color_wrap{
    margin-bottom:100px;
  }
  ul#color_list li p{
    width:210px;
  }
  ul#color_list li p.color_box{
    width:210px; height:210px;
  }
  ul#color_list li p.color_info{
    margin-top:-50px;
  }
  ul#color_list li p.color_box::before{
    width:105px; height:105px;
  }
}
/* 해상도 321px~480px */
@media screen and (max-width:480px){
  /* 메인페이지 미디어쿼리 */
  /* common */
  .page_title{
    font-size:1.5rem; padding-top:21px; padding-bottom:29px;
  }
  div#visualtext{
    background:none;
  }
  p#visualtext_title{
    display:none;
  }
  /* guide */
  section#guide_box,section#reserve_box{
    height:120px;
  }
  p.box_title,p.box_text{
    display:none;
  }
  section#guide_box p.box_btn, section#reserve_box p.box_btn{
    margin-top:44px;
  }
  /* recipe */
  section#recipe_inner{
    height:380px;
  }
  ul#recipe_list li{
    width:47.5%; margin-right:5%;
  }
  ul#recipe_list li:nth-child(2){
    margin-right:0px;
  }
  ul#recipe_list li:last-child{
    display:none;
  }
  /* community */
  section#text_img {
    height:150px;
  }
  section#text_img p.com_box_title {
    text-align:center; margin-right:0px; font-size:1.125em;
  }
  p.com_box_text {
    display:none; text-align:center;
  }
  section#text_img p.com_box_btn {
    float:none; margin:0px auto; margin-top:20px;
  }
  section#text_img p.com_box_btn a {
    font-size:1rem;
  }
  /* 브랜드페이지 미디어쿼리 */
  /* common */
  h4.story_title{
    font-size:1.5em;
  }
  /* color */
  section#color_wrap{
    margin-bottom:100px;
  }
  ul#color_list li p{
    width:150px;
  }
  ul#color_list li p.color_box{
    width:150px; height:210px;
  }
  ul#color_list li p.color_box::before{
    width:75px; height:75px;
  }
  ul#color_list li p.color_info{
    margin-top:-70px;
  }
}
  @media screen and (max-width:320px){
  /* guide */
  p.box_btn{
    width:120px;
  }
  /* market */

  /* community */
  section#text_img{
    height:100px;
  }
  p.com_box_title{
    display:none;
  }
  section#text_img p.com_box_btn{
    float:none; margin:0px auto; margin-top:35px;
  }
  section#text_img p.com_box_btn a{
    font-size:0.875rem; line-height:2rem;
  }
}