/* 비주얼영역시작 */
#menu_vis_wrap{ width:100%; height:340px; float:left; background:url("/menu/images/menu_visual02.jpg")no-repeat fixed; border-top:solid 1px #7d0022; border-bottom:solid 1px #7d0022; box-sizing:border-box; }
#menu_menu_wrap{ float:left; width:100%; height:44px; background:#f4f4f4; }
.menu_menu{ width:1200px; height:100%; margin:0 auto; }
.menu_menu_list{ width:70%; height:100%; margin:0 auto; }
.menu_menu_list li{ float:left; width:20%; height:100%; }
.menu_menu_list li a{ display:block; width:100%; height:100%; font:normal 0.875rem/44px "Nato Sans KR"; text-align:center; text-decoration:none; color:black; }

/* 컨텐츠영역시작 */
#contents_wrap{width:100%; float:left;}
#dodripy_map_wrap{width:1200px; min-height:800px; margin:0 auto;}
#dodripy_map{width:100%; height:500px;}

.map_text_wrap {width:100%; height:200px; margin-top:60px}
.map_title {float:left; width:100%; height:40px; margin-bottom:20px; font:bold 27px/40px "Nanum Barun Gothic"}
.map_text {float:left; width:100%; height:24px; font:normal 16px/24px "Nanum Barun Gothic"}


/* @media query */
@media screen and (max-width:1200px){
  nav.menu_menu{ width:100%; }
  ul.menu_menu_list{ width:80%; margin:0 auto; }
  div.about_header{ width:100%; }

  #dodripy_map_wrap {width:96%; margin-left:2%}
}